/* ==========
Golbal Style
============= */
* {
    box-sizing: border-box;
}

body {
    /* font-family: 'Inter', sans-serif; */
    font-family: 'Work Sans', sans-serif;
    font-size: 16px;
    color: #444343;
    margin: 0;
}

p {
    line-height: 24px;

}

button.primary-btn {
    background-color: #ffffff;
    border-radius: 5px;
    padding: 20px 25px;
    border: none;
    font-size: 20px;
    font-weight: 600;
    color: #f15b22;
}

button.secondary-btn {
    background-color: #f15b22;
    border-radius: 5px;
    padding: 20px 25px;
    border: none;
    font-size: 20px;
    font-weight: 600;
    color: white;
}


/* ==============
Banner Section
================= */
header {
    margin: 0;
}


.banner {
    background: url(../assets/image/banner1.png);
    margin: 0;
    min-height: 800px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center left;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.banner-description {
    text-align: right;
    margin-right: 230px;
    flex-basis: 500px;
}

.banner-description h1 {
    font-size: 65px;
    font-weight: 700;
    color: #151414;
    margin: 0;
    line-height: normal;
}

.banner-description button {
    margin-top: 16px;
}

/* ========
Main Area
=========== */
main {
    max-width: 1140px;
    margin: 0 auto;
}

/* =========
My Failure
============ */
section#my-failure {
    display: flex;
    align-items: center;
    padding: 130px 0;
}

.failure-img,
.failure-description {
    flex-basis: 50%;
}

.failure-description {
    margin-left: 85px;
}

.failure-description h2 {
    color: #151414;
    font-size: 40px;
    margin-bottom: 24px;
    margin-right: 35px;
}

.failure-description p {
    margin-top: 0;
    margin-right: 75px;
}

.failure-description ul {
    padding: 0;
}

.failure-description ul li {
    list-style: none;
    background: url('../assets/image/icons/check.png') center left no-repeat;
    padding: 5px 10px 5px 30px;
    color: #444343;
    line-height: 26px;

}

/* ==============
My Plan Section
================= */
section#my-plan {
    padding-bottom: 130px;
}

section#my-plan h2 {
    text-align: center;
    font-size: 40px;
    color: #151414;
    margin-bottom: 50px;
}

.plans {
    display: flex;
    justify-content: space-between;
    text-align: center;
}

.plan-item h4 {
    font-size: 30px;
    color: #151414;
    margin-top: 18px;
    margin-bottom: 16px;
}

.plan-item p {
    margin: 0;
}

/* ====================
Bottom Banner Section
======================= */
section#bottom-banner {
    background: linear-gradient(90deg, #F15B22 0%, rgba(241, 91, 34, 0.00) 100%), url(../assets/image/watch.png);
    min-height: 300px;
    margin-bottom: 130px;
    padding: 60px 65px;
    border-radius: 8px;
}

section#bottom-banner h3 {
    color: #ffffff;
    font-size: 40px;
    font-weight: 700;
}

.bottom-banner-test {
    width: 50%;
}